# CMake build directories
cmake-build-debug/
cmake-build-release/
build/
*.exe
*.dll

# IDE files
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Output reports
*_report.html
index.html

# Cache
.cache/

